.holder-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url("../content/AdobeStock_418121757.jpeg");
}

.box {
    h1 {
        background-image: url("../content/AdobeStock_439024603.jpeg");
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 8vw;
    }
}

.content-about{
     display:flex;
     justify-content: center;
     padding-top: 2rem;
     margin: 8rem;
     height: 70vh;
 }