$backGroundPaper: url("../content/AdobeStock_418121757.jpeg");
$backGroundLeafs: url("../content/AdobeStock_439024603.jpeg");

.holder-image{
    background-image: $backGroundPaper;
    height: 80vh;
}

.box {
    & h1 {
        background-image: $backGroundLeafs;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 8vw;
    }

    & h4{
        text-shadow: #000 1px 0px 8px;
        cursor: pointer;
    }
}