@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$backGroundPaper: url("../content/AdobeStock_418121757.jpeg");
$backGroundLeafs: url("../content/AdobeStock_439024603.jpeg");
$whiteColor: #FFF;
$blackColor: #000;
$darkGreenColor: #435C41;
$fontFamillyInter: "Inter", serif;
$fontFamillyInterWeight: 700;


.holder-image{
    background-image: $backGroundPaper;
    height: 85vh;
}

.box {
    & h1 {
        background-image: $backGroundLeafs;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 8vw;
        font-family: $fontFamillyInter;
        font-weight: $fontFamillyInterWeight;
    }

    & h4{
        cursor: pointer
    }
}

.button-login {
    background-color: $whiteColor;
    border: 1px $blackColor solid;
}

.input-user{
    background-color: $darkGreenColor;
    color: $whiteColor;
}

form ::placeholder{
    color: $whiteColor;
}

.button-user {
    background-color: $darkGreenColor;
    color: $whiteColor;
}